body {
  background-color: rgb(94, 39, 163);
  color:white;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
color:rgb(232, 216, 255);
}

i {
  color: rgb(232, 216, 255) !important;
}

