body {
    margin:100px;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: left;
    width: 90%;
}

a {
    font-size: 1.2em;
    color: #aeaeae;
    text-decoration: none;
}